.movieRow {
	margin-bottom: 30px;
}

.movieRow h2 {
	margin: 0 0 0 30px;
}

.movieRow-ListArea {
	overflow-x: hidden;
	padding-left: 30px;
}

.movieRow-List {
	transition: all ease 0.2s;
}

.movieRow-Item {
	display: inline-block;
	width: 150px;
	cursor: pointer;
}

.movieRow-Item img {
	width: 100%;
	transform: scale(0.9);
	transition: all ease 0.2s;
}

.movieRow-Item img:hover {
	transform: scale(1);
}

.movieRow-Left,
.movieRow-Right {
	position: absolute;
	width: 40px;
	height: 225px;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	cursor: pointer;
	opacity: 0;
	transition: all ease 0.2s;
}

.movieRow-Left {
	left: 0;
}

.movieRow-Right {
	right: 0;
}

.arrow {
	width: 15px;
}

.movieRow:hover .movieRow-Left,
.movieRow:hover .movieRow-Right {
	opacity: 1;
}

@media (max-width:768px) {
	.movieRow-Left, .movieRow-Right {
		opacity: 1;
	}
}
