.movieRow {
	margin-bottom: 30px;
}

.movieRow h2 {
	margin: 0 0 0 30px;
}

.movieRow-ListArea {
	overflow-x: hidden;
	padding-left: 30px;
}

.movieRow-List {
	width: 9999px;
}

.movieRow-Item {
	display: inline-block;
	width: 150px;
	cursor: pointer;
}

.movieRow-Item img {
	width: 100%;
	transform: scale(0.9);
	transition: all ease 0.2s;
}

.movieRow-Item img:hover {
	transform: scale(1);
}
