.featured {
	height: 100vh;
}

.featured-Vertical {
	width: inherit;
	height: inherit;
	background: linear-gradient(to top, #111 10%, transparent 90%);
}

.featured-Horizontal {
	width: inherit;
	height: inherit;
	background: linear-gradient(to right, #111 30%, transparent 70%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 30px;
	padding-bottom: 150px;
}

.featured-Name {
	font-size: 60px;
	font-weight: bold;
	max-width: 50%;
}

.featured-Info {
	font-size: 18px;
	font-weight: bold;
	margin-top: 15px;
}

.featured-Score,
.featured-Year,
.featured-Seasons {
	display: inline;
	margin-right: 15px;
}

.featured-Score {
	color: #46d369;
}

.featured-Description {
	margin-top: 15px;
	font-size: 20px;
	color: #999;
	max-width: 40%;
}

.featured-Buttons {
	margin-top: 15px;
}

.featured-PlayButton,
.featured-InfoButton {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	padding: 12px 25px;
	border-radius: 5px;
	text-decoration: none;
	margin-right: 10px;
	opacity: 1;
	transition: all ease 0.2s;
}

.featured-PlayButton:hover,
.featured-InfoButton:hover {
	opacity: 0.7;
}

.featured-PlayButton {
	background-color: white;
	color: black;
}

.featured-InfoButton {
	background-color: #333;
	color: white;
}

.play-button {
	height: 13px;
}

.featured-Genres {
	margin-top: 15px;
	font-size: 18px;
	color: #999;
}

.lists {
	margin-top: -150px;
}
